{% load staticfiles %}


<!DOCTYPE html>
<!--[if lt IE 7]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->

<!-- BEGIN head -->
<head>

	<!--Meta Tags-->
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	<!--Title-->
	<title>KrishiUtthan {% block title %}{% endblock %}</title>

	<!--Stylesheets-->
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"  media="all" />
	<link rel="stylesheet" href="{% static "css/colour.css" %}" type="text/css"  media="all" />
	<link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css"  media="all" />
	<link rel="stylesheet" href="{% static "css/superfish.css" %}" type="text/css"  media="all" />
	<link rel="stylesheet" href="{% static "css/responsive.css" %}" type="text/css"  media="all" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>

	<!--Favicon-->
	<link rel="shortcut icon" href="http://themes.quitenicestuff.com/parkcollege/favicon.ico" type="image/x-icon" />

	<!--JavaScript-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
	<script type="text/javascript" src="{% static "js/superfish.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.flexslider-min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tinynav.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.uniform.js" %}"></script>
	<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/selectivizr-min.js"></script>
	<![endif]-->

<!-- END head -->
</head>

<!-- BEGIN body -->
<body id="top" class="loading">
	 
	<!-- BEGIN #header-wrapper -->
	<div id="header-wrapper">
		
		<!-- BEGIN #header-border -->
		<div id="header-border">
			
			<!-- BEGIN #header-content-wrapper -->
			<div id="header-content-wrapper" class="clearfix">
			
				<div id="logo">
					<h1><a href="/"><span>Krishi</span>Utthan</a></h1>
				</div>
			
			</div>
		
			<!-- BEGIN #main-menu-wrapper -->
			<div id="main-menu-wrapper" class="clearfix">
		
				<!-- BEGIN #main-menu -->
				<ul id="main-menu">
					
					<li class="#"><a href="home">Home</a></li>
					<li><a href="#">Items</a></li>
					<li><a href="#">Vendors</a></li>
					<li><a href="#">Charts</a></li>
					<li><a href="#">About</a></li>
				<!-- END #main-menu -->
				</ul>
		
				<div class="menu-search-button"></div>
				<form method="get" action="index.html#" class="menu-search-form">
					<input class="menu-search-field" type="text" onblur="if(this.value=='')this.value='To search, type and hit enter';" onfocus="if(this.value=='To search, type and hit enter')this.value='';" value="To search, type and hit enter" name="s" />
				</form>
		
			<!-- END #main-menu-wrapper -->
			</div>
		
		<!-- END #header-border -->
		</div>
	
	<!-- END #header-wrapper -->
	</div>
	
	<!-- BEGIN .slider -->

	{% block content %}
	
	{% endblock %}	
	
	{% comment %}
	<!-- BEGIN #footer-wrapper -->
	<div id="footer-wrapper">
		
		<!-- BEGIN #footer -->
		<div id="footer">
			
			<ul class="columns-4 clearfix">
				
				<li class="col">
					<div class="widget-title clearfix">
						<h4>About Us</h4>
						<div class="widget-title-block"></div>
					</div>
					<p>We are a online voting information portal maintaining information about election of 
						different organizations and educating people to make their decision.</p>
				</li>
				<li class="col">
					<div class="widget-title clearfix">
						<h4>Twitter Feed</h4>
						<div class="widget-title-block"></div>
					</div>
		
					<ul id="twitter_update_list">
						<li>Twitter feed loading</li>
					</ul>
					
					<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
					<script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline/voteNP.json?callback=twitterCallback2&amp;count=3"></script>
				
				</li>
				
				<li class="col">
					<div class="widget-title clearfix">
						<h4>Recent Posts</h4>
						<div class="widget-title-block"></div>
					</div>
					
					<ul>
						<li><a href="blog-single.html">Coming FSU Election</a></li>
						<li><a href="blog-single.html">Develop our leadership</a></li>
						<li><a href="blog-single.html">Decision power</a></li>
						<li><a href="blog-single.html">Be Optimistic</a></li>
					</ul>
					
				</li>
			
			</ul>
			
			<div id="footer-bottom" class="clearfix">
				<p class="fl">&copy; Copyright -  <a href="http://phunka.com">Phunka Technologies</a></p>
				<p class="go-up fr"><a href="index.html#top" class="scrollup">Top</a></p>
			</div>
			
		<!-- END #footer -->
		</div>
	
	<!-- END #footer-wrapper -->
	</div>
{% endcomment %}
<!-- END body -->
</body>
</html>
